<div class="flex flex-col gap-0">
  <div class="index-info-container pt-6 text-[var(--c-70)]">
    <!-- Home page info, short text about me -->
    <div class="flex flex-col items-center">
      <% if (theme.show_profile_image) { %>
      <a href="/about">
        <img class="rounded-3xl w-48 hover:scale-[1.04] transition-transform" src="<%- theme.portrait %>"
          alt="<%- config.title %>" />
        </a>
      <% } %>
      <!-- Site title -->
      <h1 class="
        site-title
        text-center
        text-5xl
        bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent
        pb-4
        pt-6
        font-black
        ">
        <%= config.title %>
      </h1>
      <!-- Sub-title -->
      <p class="
        text-3xl font-extrabold text-center
        bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent
        text-[var(--c-80)]">
        <%= config.subtitle %>
      </p>
      <div class="flex flex-wrap items-center justify-center gap-4 my-6 font-bold text-lg">
        <div class="flex flex-row items-center gap-1">
          <iconify-icon width="24" icon="mingcute:building-1-fill"></iconify-icon>
          <p><%= theme.my_location %></p>
        </div>
        <div class="flex flex-row items-center gap-1 group">
          <iconify-icon class="transition-transform
                group-hover:scale-125" width="24" icon="mingcute:idcard-fill"></iconify-icon>
          <a href="<%= theme.cv_path %>" class="group-hover:underline">
            CV (May, 2025)
          </a>
        </div>
      </div>
      <!-- Description from config -->
      <div class="description-container max-w-[100ch] mx-auto grid grid-cols-1">
        <div class="text-left p-8">
          <p>
            <%- config.description.replace(/(?:\r\n|\r|\n)/g, '<br>' ) %>
          </p>
        </div>
      </div>
      <!-- get content from index.md -->
      <div class="post-content mt-4">
      </div>
    </div>
  </div>

  <% if (theme.show_news_section) { %>
    <!-- News Section Divider -->
    <div class="flex flex-col items-center justify-center" style="padding-bottom: 1rem;">
      <hr class="w-[75%] mb-6 h-[3px] bg-[var(--c-sep)] mr-1/2">
      <div class="flex flex-row items-center gap-2 text-[var(--c-50)]">
        <iconify-icon width="28" icon="mingcute:news-fill"></iconify-icon>
        <p class="text-center text-3xl">News</p>
      </div>
    </div>
  
    <!-- List of news items -->
    <div class="news-list max-w-[100ch] mx-auto">
      <% theme.news.forEach(function(newsItem) { %>
        <div class="flex flex-row mb-3 mt-3">
          <!-- Date on the left, centered vertically and horizontally -->
        <div class="w-48 flex justify-center items-center text-[var(--c-60)]">
          <p class="text-base font-normal leading-tight"><strong><%= newsItem.date %></strong></p>
        </div>
          <!-- News content on the right -->
          <div class="flex-1 flex justify-center items-center">
            <p class="text-base font-normal leading-tight pl-8"><%- newsItem.content %></p>
          </div>
        </div>
      <% }); %>
    </div>
  
    <% } %>

  <% if (theme.show_featured_posts) { %>
  <!-- 分割线 -->
  <div class="flex flex-col items-center justify-center0">
    <hr class="w-[75%] mb-6 mt-6 h-[3px] bg-[var(--c-sep)] mr-1/2">
    <div class="flex flex-row items-center gap-2 text-[var(--c-50)]">
      <iconify-icon width="28" icon="mingcute:star-fill"></iconify-icon>
      <p class="text-center text-3xl">Featured Posts</p>
    </div>
  </div>

  <!-- List of featured posts -->
  <%- partial('_partial/post-list', {
    posts: site.posts.filter(post => post.featured),
    show_tags: false
  }) %>

  <% } %>
</div>